{% extends 'nav2.html' %}
{% block content %}
{% load static %}

{%for msg in messages %}
<div class="alert alert-danger text-center">
    {{msg}}
</div>
{% endfor %}

<div class="container-fluid form-div">
    <form action="{% url 'add_category' %}" method="post" class="was-validated">
        {% csrf_token %}
        <h1 style="font-size: 3vw;" class="text-center">Add Category</h1>
        <div class="form-group">
            <label for="uid" id="lbl">Category:</label>
            <input type="text" name="category" class="form-control" required>
            <div class="valid-feedback">valid</div>
            <div class="invalid-feedback">fill the field</div>
        </div>

        <input type="submit" value="Add" class=" btn btn-info" required><br><br><br>

    </form>


    {% endblock %}