{% extends 'nav2.html' %}
{% block content %}
{% load static %}

{%for msg in messages %}
<div class="alert alert-danger text-center">
    {{msg}}
</div>
{% endfor %}

<div class="container-fluid form-div">
    <form action="" method="post" class="was-validated" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 style="font-size: 3vw;" class="text-center">Edit Product Details</h1>

        <div class="form-group">
            <label>Product Name:</label>
            <input type="text" name="product" class="form-control" required value="{{det.d_product}}">
            <div class="valid-feedback">valid</div>
            <div class="invalid-feedback">fill the field</div>
        </div>

        <div class="form-group">
            <label for="uid" id="lbl">Product description:</label>
            <textarea name="description" cols="30" rows="3" class="form-control">{{det.d_description}}</textarea>
            <div class="valid-feedback">valid</div>
            <div class="invalid-feedback">fill the field</div>
        </div>

        <div class="form-group">
            <label for="uid" id="lbl">Price:</label>
            <input type="number" name="price" class="form-control" required value="{{det.d_price}}">
            <div class="valid-feedback">valid</div>
            <div class="invalid-feedback">fill the field</div>
        </div>

        <div class="">
            <img src="{{det.d_img.url}}" alt="" class="img-fluid" width="200px"><br><br>
            <label for="uid" id="lbl">Product image:</label>
            <input type="file" name="img" class="form-control" accept="image/*">
        </div>

        <div class="form-group">
            <label for="">Category:</label>
            <select name="category" class="form-control" required>
                <option value="{{det.d_category.id}}" hidden>{{det.d_category.d_category}}</option>
                {% for i in cat %}
                <option value="{{i.id}}">{{i.d_category}}</option>
                {% endfor %}
            </select>
        </div>

        <input type="submit" value="Edit" class=" btn btn-info" required><br><br><br>

    </form>


    {% endblock %}