{% extends 'nav2.html' %}
{% block content %}
{% load static %}

<div class="table-responsive">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">EmailID</th>
                <th scope="col">MobileNumber</th>
                <th scope="col">Address</th>
                <th scope="col">UserID</th>
                <th scope="col"></th>
            </tr>
        </thead>


        {% for i in det %}
        <tbody>
            <tr>
                <td>{{i.d_user.first_name}} {{i.d_user.first_name}}</td>
                <td>{{i.d_user.email}}</td>
                <td>{{i.d_number}}</td>
                <td>{{i.d_address}}</td>
                <td>{{i.d_user.username}}</td>
                <td>
                    <a href="{% url 'delete_user' i.id%}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>

        {% endfor %}
    </table>
</div>

{% endblock %}