{% extends 'nav3.html' %}
{% block content %}
{% load static %}

{%for msg in messages %}
<div class="alert alert-danger text-center">
    {{msg}}
</div>
{% endfor %}

<div class="carousel slide" data-ride="carousel" id="demo">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="0"></li>
        <li data-target="#demo" data-slide-to="0"></li>
        <li data-target="#demo" data-slide-to="0"></li>
        <li data-target="#demo" data-slide-to="0"></li>
    </ul>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/Shastra_mainbanner_03-desk.png' %}" alt="" class="img-fluid" width="">
        </div>
        <div class="carousel-item ">
            <img src="{% static 'img/nike banner.jpg' %}" alt="" class="img-fluid">
        </div>
        <div class="carousel-item ">
            <img src="{% static 'img/adidasbanner.jpg' %}" alt="" class="img-fluid">
        </div>
        <div class="carousel-item ">
            <img src="{% static 'img/puma banner.jpg' %}" alt="" class="img-fluid">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/Ashtang2_mainbanner_04-desknew.png'%}" alt="" class="img-fluid">
        </div>
    </div>
    <a href="#demo" class="carousel-control-prev" data-slide="prev"><span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#demo" class="carousel-control-next" data-slide="next"><span class="carousel-control-next-icon"></span></a>
</div><br>


{% endblock %}

<!--<div style="background-color: rgba(0, 0, 255,0.5);" class="container-fluid text-center">
    <h3 class="text-center text-light">We Are Dealing with</h3>
    <div class="row">
        <div class="col">
            <img src="nivia logo.png" alt="" class="img-fluid">
        </div>
        <div class="col">
            <img src="adidas logo.png" alt="" class="img-fluid">
        </div>
        <div class="col">
            <img src="new-balance.jpg" alt="" class="img-fluid">
        </div>
        <div class="col">
            <img src="pumalogo.jpg" alt="" class="img-fluid">
        </div>
    </div><br>
    <div class="row">
        <div class="col">
            <img src="vector logo.jpg" alt="" class="img-fluid">
        </div>
        <div class="col">
            <img src="nike logo.png" alt="" class="img-fluid">
        </div>
        <div class="col">
            <img src="rebok logo.jpg" alt="" class="img-fluid">
        </div>
        <div class="col">
            <img src="kobologo.png" alt="" class="img-fluid">
        </div>
    </div><br>
</div><br>


<div class="card-deck">
    <div class="card">
        <img src="football.jpg" alt="" class="img-fluid" height="100vh">
        <div class="card-img-overlay text-center" style="padding-top: 50%;">
            <a href="fballs.html" class="card-link text-light">CLICK HERE</a>
        </div>
        <div class="card-body">
            <p class="card-text text-center">Footballs</p>
        </div>
    </div>
    <div class="card">
        <img src="-original-imagq57a6bvzqkrz.webp" alt="" class="img-fluid">
        <div class="card-img-overlay text-center" style="padding-top: 50%;">
            <a href="fshoes.html" class="card-link text-light">CLICK HERE</a>
        </div>
        <div class="card-body">
            <p class="card-text text-center">Football shoes</p>
        </div>
    </div>
    <div class="card">
        <img src="alnasarhome.jpg" alt="" class="img-fluid">
        <div class="card-img-overlay text-center" style="padding-top: 50%;">
            <a href="s&s.html" class="card-link text-light">CLICK HERE</a>
        </div>
        <div class="card-body">
            <p class="card-text text-center">Football Jurseys</p>
        </div>
    </div>
    <div class="card">
        <img src="nikeadulthome.jpg" alt="" class="img-fluid">
        <div class="card-img-overlay text-center" style="padding-top: 50%;">
            <a href="fgloves.html" class="card-link text-light">CLICK HERE</a>
        </div>
        <div class="card-body">
            <p class="card-text text-center">Football Gloves</p>
        </div>
    </div>
</div><br>
</div>

<img src="reso-gratuito.png" alt="" class="img-fluid">-->